$background-color-main: rgb(20, 30, 40);
$text-color-main: linen;
$background-color-code: rgb(60, 70, 80);
$pri-font: 'Corben', serif;
$sec-font: 'Lato', sans-serif;
*{
  box-sizing: border-box;
}

//noinspection CssInvalidPropertyValue
body{
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  background-color: $background-color-main;
  color: $text-color-main;
}

header{
  padding: 0;
  background-color: $text-color-main;
  color: $background-color-main;
  border-radius: 0 0 10px 10px;
  border-bottom: 5px solid $background-color-code;
  h1{
    padding: 15px;
    margin: 0;
    font-family: $pri-font;
  }
}

button i{
  pointer-events: none; // add this line
}
#m8-nav-resizable{
  .combo-expand{
    display: none;
  }
}
#previewer{
  .card-header h2{
    font-size: 1.1em;
    margin: 0;
  }
  .editor-container{
    width: 100%;
    height: 50vh;
    h2{

    }
    .card, .form-floating, .container-fluid, #editor{
      height: 100%;
      width: 100%;
    }
    #editor{
      height: 100%;
      width: 100%;
    }
  }
  .size-container{
    display: none;

    .ghost-drag{
      display: none;
    }
  }
  .preview-container{
    width: 100%;
    .card-body{

    }
  }
}
#preview{
  h1, h2, h3, h4, h5{
    font-family: $pri-font;
  }
  p > code{
    padding: 5px 10px;
    background-color: $background-color-code;
    border-radius: 10px;
    color: $text-color-main
  }
  pre > code{
    display: inline-block;
    padding: 15px;
    width: 100%;
    background-color: $background-color-code;
    border-radius: 10px;
  }
  img{
    max-width: 90%;
  }
}

@media only screen and (min-width: 768px){

  #m8-nav-resizable{
    .combo-expand{
      display: inherit;
    }
  }
  #previewer{
    .editor-container{
      width: 50%;
      padding: 0 0 10px 0;
      height: unset;
      .card, .form-floating, .container-fluid, #editor{
        height: 100% !important;
      }

    }
    .size-container{
      display: flex;
      flex-direction: column;
      //justify-content: center;
      align-items: center;
      width: 5px;
      margin: 10px 0;
      border: 1px solid black;
      background-color: linen;
      cursor: move;
      button{
        position: relative;
        top: 50%;
        width: 40px;
        height: 30px;
        font-size: 1.2em;
        z-index: 1;
        background-color: $background-color-main;
        padding: 0;
        cursor: move;
        i{
          display: block;
          color: linen;
          pointer-events: none; // add this line
        }
      }
      .ghost-drag{
        visibility: hidden;
      }
    }
    .preview-container{
      width: 50%;
      padding: 0 0 10px 0;
      .card-body{
        padding-left: 30px;
        padding-right: 30px;
      }
    }
  }
}